* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 60%;
    height: auto;
    margin: auto;
}
.sub-container {
    background-color: #999;
    width: 100%;
    height: 300px;
    margin: 100px 0;
}
.main-container {
    background-color: rgb(255, 0, 0);
    width: 100%;
    height: 600px;
    margin-top: 50px;
    padding-top: 150px;
}
.main-container_text {
    text-align: center;
    width: 100%;
    height: 150px;
    margin-bottom: 200px;
}
.main-container_text--sub-title p {
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
}
.main-container_text--title h1 {
    color: #fff;
    font-size: 100px;
}
.main-container_btn {
    text-align: center;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container_btn div > button {
    margin: 0 5px;
    padding: 5px;
}